.users-wrap {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 2px 2px 16px var(--color--secondary);
    width: 100%;
    padding: var(--padding-size);
    box-sizing: border-box;
    font-size: 22px;
    /* height: 100vh; */
}
