.topPanel {
    display: flex;
    flex-direction: row;
    border: 1px dashed var(--color--secondary);
    padding: var(--padding-size);
}
.topPanel__avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    color: white;
    font-weight: 700;
}
.topPanel__avatar {
}
.topPanel__info {
    display: flex;
    align-items: center;
    flex: 1;
    padding: var(--padding-size);
}
.topPanel__info_user-name {
}
.topPanel__info_user {
    flex: 1;
    height: 100%;
}
