.topPanel {
    display: flex;
    align-items: center;
    flex-direction: row;
    border: 1px dashed var(--color--secondary);
    padding: var(--padding-size);
}
.topPanel__avatar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    min-width: 100px;
    height: 100px;
    color: white;
    font-weight: 700;
}
.topPanel__avatar {
}
.topPanel__info {
    display: flex;
    align-items: center;

    flex: 1;
    padding: var(--padding-size);
}
.topPanel__info_user-name {
}
.topPanel__info_user {
    flex: 1;
    height: 100%;
}

.topPanel__stats {
    display: flex;
    flex-direction: column;
    background: var(--color--secondary);
    border-radius: 4px;
    box-shadow: 2px 2px 16px var(--color--secondary);
    padding: var(--padding-size);
    justify-content: start;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 18px;
}
.topPanel__stats-todo > span {
    color: var(--color--main);
    font-size: 22px;
}
.topPanel__stats-update > span {
    color: var(--color--main);
    font-size: 22px;
}
